
.navbar a{
  padding-bottom: 15px;
}
.navbar a:hover{
  color: #1398ea;
}
.list-subMenu li{
  color: black;
}
.list-subMenu{
  display: flex;
  flex-direction: column;
}
.active{
  color:red;
}
.list-subMenu{
  display: none; 
  border: 2px solid #1398ea;
  /* padding-top: 10px; */
  position: absolute;
  /* min-width: 161px; */
  margin-left: -6px;
  background: #ffffff;
  box-shadow: 0 5px 10px 0 #d3cfc9;
  margin-top: 8px;
  }
li:hover .list-subMenu{
  display: block;
}
.list-subMenu{
  list-style-type: none;
   padding: 7px 4px;
}.list-subMenu ul{
  margin: 0;
  padding-left: 0px;
}
.navbar a{
  text-decoration: none;
}
.navbar li{
  color: black;
  padding-bottom: 0px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  list-style: none;
}
.navbar{
  display: flex;
  width: 219px;
  padding: 7px 4px;
  border-bottom: 3px solid;
  border-bottom-color: #1398ea;
}