
.service{
  padding-bottom: 15px;
}
.navbar a:hover{
  color: #1398ea;
}
.navDrop li{
  color: black;
}
.navDrop{
  display: flex;
  flex-direction: column;
}
.navDrop{
  display: none; 
    border: 2px solid #1398ea;
    /* padding-top: 10px; */
    position: absolute;
    /* min-width: 161px; */
    margin-left: 67px;
    background: #ffffff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    margin-top: 8px;
  }
.service:hover .navDrop{
  display: block;
}
.navDrop li{
  list-style-type: none;
   padding: 7px 4px;
}.navDrop ul{
  margin: 0;
  padding-left: 0px;
}
.navbar a{
  color: black;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar{
  width: 219px;
  padding: 7px 4px;
  border-bottom: 3px solid;
  border-bottom-color: #1398ea;
}